In [13]:
import pandas as pd

df = pd.read_csv(
    "Data cleaning.csv",
    sep=None,          # auto-detect delimiter
    engine="python"    # required for auto-detection
)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ﻿"EmployeeID   12 non-null     object
 1   Name           0 non-null      float64
 2   Department     0 non-null      float64
 3   Age            0 non-null      float64
 4   Salary         0 non-null      float64
 5   DateOfJoining  0 non-null      float64
 6   City"          0 non-null      float64
dtypes: float64(6), object(1)
memory usage: 804.0+ bytes

In [21]:
# Convert numeric columns
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

# Fill missing numeric values with median
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Salary'] = df['Salary'].fillna(df['Salary'].median())

# Drop rows with missing names
df = df.dropna(subset=['Name'])

# Fix date format
df['DateOfJoining'] = pd.to_datetime(df['DateOfJoining'], errors='coerce')

# Remove duplicates
df = df.drop_duplicates()

In [23]:
df['DateOfJoining'] = pd.to_datetime(df['DateOfJoining'], errors='coerce')

In [25]:
df.to_csv("cleaned_data.csv", index=False)
print("Cleaned data saved successfully.")

Cleaned data saved successfully.

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ﻿"EmployeeID   0 non-null      object
 1   Name           0 non-null      float64
 2   Department     0 non-null      float64
 3   Age            0 non-null      float64
 4   Salary         0 non-null      float64
 5   DateOfJoining  0 non-null      datetime64[ns]
 6   City"          0 non-null      float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 0.0+ bytes

In [29]:
df

Empty DataFrame
Columns: [﻿"EmployeeID, Name, Department, Age, Salary, DateOfJoining, City"]
Index: []

In [31]:
df.head()

Empty DataFrame
Columns: [﻿"EmployeeID, Name, Department, Age, Salary, DateOfJoining, City"]
Index: []

In [33]:
df.reset_index(drop=True)

Empty DataFrame
Columns: [﻿"EmployeeID, Name, Department, Age, Salary, DateOfJoining, City"]
Index: []

In [35]:
clean_df = pd.read_csv("cleaned_data.csv")
clean_df

Empty DataFrame
Columns: [﻿"EmployeeID, Name, Department, Age, Salary, DateOfJoining, City"]
Index: []

In [37]:
df.isnull().sum()

﻿"EmployeeID     0
Name             0
Department       0
Age              0
Salary           0
DateOfJoining    0
City"            0
dtype: int64

In [39]:
print(df.to_string())

Empty DataFrame
Columns: [﻿"EmployeeID, Name, Department, Age, Salary, DateOfJoining, City"]
Index: []

In [41]:
from IPython.display import display
display(df.reset_index(drop=True))

Empty DataFrame
Columns: [﻿"EmployeeID, Name, Department, Age, Salary, DateOfJoining, City"]
Index: []